h1{ 
    color: antiquewhite;
    width: 300px;
}        
body{
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}                      


#navigation a {
    padding: 10px;
    background: #2f7bc7;
    color: #000000;
}

#navigation a:hover {
    background: #2f7bc7;
}

#introtext{
    color:aquamarine;
    font-size: 22px;
    font-weight: ;
    margin: -20px 0px 0px 0px
}

.highlight{ 
    color:aqua;
}

#hellotextback{
    color: antiquewhite;
}
.mainbackground{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
 
.hellobackground{
    width: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body::-webkit-scrollbar{
    display: none;
}
#hobbys{
    color: aqua;
    font-size: 21px;
}
.hobby{
        color: aquamarine;
}

#introbox{
    width: 500px;
    float: left;
    margin: 0px 0px 0px 320px;
}


#intropicture{
    float: left;
    width: 10%;
}

.reset{
    clear: both;
    height: 20px;
}

#hobbyimg{
    float: left;
    margin: 30px 0px 0px 0px 
}

#hobbybox{ 
    width: 500px;
    float: left;
    margin: 0px 10px 0px 0px;
}

#hobbybox li{
    margin: 0px;
    font-size: 1.3rem;
    font-weight: 700;
}


.socials h1{
    float: left;
    margin: 180px auto auto 30px;
}

.socialbutton{
    float: left;
    margin: 230px auto auto -300px;
}
.meme{
    width: 450px;
    float: left;
    margin: 0px 0px 25px 0px;
}

.socialimg{
    width: 100px;
    height: 100px;
background-color: white;
}

#maincontainer{
    width: 1300px;
    margin: 0px 0px 0px 280px;
}

