h1{ color: antiquewhite;}        
body{
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}                      


#introtext{color:blueviolet;}
.highlight{ 
    color:aquamarine;
}


#hobbys{color: aqua;}
.hobby{
        color: aquamarine;
}

#introbox{
    width: 500px;
    float: left;
}


#intropicture{
    float: left;
}

.reset{
    clear: both;
}

#hobbyimg{
    float: left;
}

#hobbybox{ 
    width: 500px;
    float: left;
}

#socials{
    float: left;
}