h1{ color: antiquewhite;}        
body{
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}                      


#introtext{color:aquamarine;}
.highlight{ 
    color:aqua;
}

.mainbackground{
    width: 100%;
}
 

#hobbys{color: aqua;}
.hobby{
        color: aquamarine;
}

#introbox{
    width: 500px;
    float: left;
    margin: 0px 0px 0px 320px;
}


#intropicture{
    float: left;
}

.reset{
    clear: both;
}

#hobbyimg{
    float: left;
    margin: 30px 0px 0px 0px 
}

#hobbybox{ 
    width: 500px;
    float: left;
    margin: 0px 10px 0px 0px;
}

#hobbybox h2{
    margin: 0px;
}

#socials{
    float: left;
}

.socialimg{
    width: 100px;
    height: 100px;
background-color: white;
}

#maincontainer{
    width: 1300px;
    margin: 0px 0px 0px 400px;
}